/* Style sheet for portfolio */

table, th, td {
    border: 1px solid black;
}

.message {
    display: flex;
    align-content:flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-pic {
    border-radius: 25px;
    border: 1px solid black;
}